.untranslated {
    color: red;
    border: 1px solid red;
}

.leyer-button {
    padding-left: 5px;
    margin: 0;
    display: none !important;
}

.leyer-button.save {
    display: inline !important;
}

.leyer-translator-container:hover .leyer-button {
    display: inline !important;
}