.untranslated {
    color: red;
    border: 1px solid red;
}

.leyer-button {
    padding-left: 5px;
    margin: 0;
    display: none !important;
}

.leyer-button.save {
    display: inline !important;
}

.leyer-translator-container:hover .leyer-button {
    display: inline !important;
}

@-webkit-keyframes flash {
    0%, 50%, 100% {opacity: 1;}
    25%, 75% {opacity: 0.5;}
}
@keyframes flash {
    0%, 50%, 100% {opacity: 1;}
    25%, 75% {opacity: 0;}
}
.leyer-flash {
    -webkit-animation-name: flash;
    animation-name: flash;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
}