.trans{
    position: initial!important;
}

.trans:hover, .trans-hover {
    background: #fafafa!important;
    color: #444!important;
    border-radius: 4px!important;
    border: dotted 1px #999!important;
    transition: background 1s!important;
}

.trans.error {
    color: #B80000;
}

.trans.untranslated {
    color: orangered;
}

@-webkit-keyframes flash {
    0%, 50%, 100% {opacity: 1;}
    25%, 75% {opacity: 0.5;}
}
@keyframes flash {
    0%, 50%, 100% {opacity: 1;}
    25%, 75% {opacity: 0;}
}

.trans.flash {
    -webkit-animation-name: flash;
    animation-name: flash;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
}

.trans-btn {
    display: block!important;
    background: #fff!important;
    color: #428bca!important;
    font-size: 14px!important;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif!important;
    line-height: 14px!important;
    padding: 5px 10px 5px 10px!important;
    border: solid 1px #999!important;
    text-decoration: none!important;
    height: 28px!important;
}

.trans-btn:after{
    content: none!important
}

.trans-btn:hover {
    display: block!important;
    background: #fff!important;
    color: #2a6496!important;
    text-decoration: none!important;
    curser: pointer!important;
}

.trans-btn.edit {
    display: none;
    opacity: 0;
    position: absolute;
    border: solid 1px #999;
    border-radius: 0px 0px 4px 4px;
    border-top: none;
    z-index: 3000;
}

.trans-btn.save, .trans-btn.cancel {
    float: right;
    margin: 10px 0 0 5px;
    border-radius: 4px;
}

.trans:hover .trans-btn.edit {
    opacity: 1;
    transition: opacity 0.5s;
    background: #fff!important;
}

.trans-modal {
    text-align: left;
    display: none;
    position: absolute;
    background: #f2f2f2;
    font-size: 14px;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    line-height: 14px;
    padding: 10px;
    border-radius: 4px;
    border: solid 1px #999;
    min-width: 275px;
    min-height: 100px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
    z-index:10000;
}

.trans-modal:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 9px 9px;
    border-color: #f2f2f2 transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -8px;
    left: 9px;
}

.trans-modal:before
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 9px 9px;
    border-color: #999 transparent;
    display: block;
    width: 0;
    z-index: 0;
    top: -9px;
    left: 9px;
}

.trans-lbl {
    display: block!important;
    color: #428bca!important;
    font-size: 18px!important;
    padding-bottom: 5px!important;
    border-bottom: solid 1px #999!important;
    width: 100%!important;
}

.trans-lgd {
    display: block;
    color: #222;
    font-size: 12px;
    margin: 5px 0;
}

.trans-texterea {
    display: block;
    resize: none;
    padding: 5px;
    border-radius: 4px;
    border: solid 1px #999;
    min-width: 275px;
    min-height: 50px;
}


